.video-box {
    max-width: 1100px;
    position: relative;
    border-radius: 10px;
    margin: {
        left: auto;
        right: auto;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(34, 36, 50, 0.52);
        border-radius: 10px;
        opacity: 0.6;
        z-index: 1;
        transition: var(--transition);
    }
    img {
        border-radius: 10px;
    }
    .video-btn {
        display: inline-block;
        width: 100px;
        height: 100px;
        font-size: 60px;
        text-align: center;
        line-height: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        border: none;
        z-index: 1;
        transform: translateY(-50%) translateX(-50%);
        background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
        border-radius: 50%;
        color: var(--whiteColor);
        box-shadow: 15px 25px 35px rgba(38, 42, 55, 0.2);
    
        &::after, &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid var(--whiteColor);
        }
        &::before {
            animation: ripple 2s linear infinite;
        }
        &::after {
            animation: ripple 2s linear 1s infinite;
        }
    }
    &:hover {
        &::before {
            opacity: 0;
            visibility: hidden;
        }
    }
    .shape {
        img {
            border-radius: 0;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .video-box {
        max-width: 100%;

        .video-btn {
            width: 70px;
            height: 70px;
            font-size: 45px;
            line-height: 70px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .video-box {
        max-width: 100%;
        margin-bottom: -10px;

        .video-btn {
            width: 90px;
            height: 90px;
            font-size: 60px;
            line-height: 90px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .video-box {
        max-width: 830px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .video-box {
        max-width: 1000px;
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}