.profile-authentication-area {
    height: 100vh;
    position: relative;
    background-color: rgb(243, 243, 243);

    .logo {
        left: 0;
        right: 0;
        top: 20px;
        position: absolute;
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        };
    }
    .social-links {
        left: 0;
        right: 0;
        bottom: 20px;
        padding-left: 0;
        margin-bottom: 0;
        position: absolute;
        list-style-type: none;
        margin: {
            left: auto;
            right: auto;
        };
        li {
            margin: {
                left: 3px;
                right: 3px;
            };
            span {
                display: inline-block;
                font-weight: 500;
            }
            a {
                width: 35px;
                height: 35px;
                display: block;
                font-size: 17px;
                border-radius: 50%;
                text-align: center;
                position: relative;
                color: var(--whiteColor);
                border: 1px solid var(--mainColor);
                background-color: var(--mainColor);

                &:hover {
                    color: var(--mainColor);
                    background-color: transparent;
                }
                &.facebook {
                    background-color: #3b5998;
                    color: var(--whiteColor);
                    border-color: #3b5998;

                    &:hover {
                        color: #3b5998;
                        background-color: transparent;
                    }
                }
                &.twitter {
                    background-color: #1da1f2;
                    color: var(--whiteColor);
                    border-color: #1da1f2;

                    &:hover {
                        color: #1da1f2;
                        background-color: transparent;
                    }
                }
                &.linkedin {
                    background-color: #007bb5;
                    color: var(--whiteColor);
                    border-color: #007bb5;

                    &:hover {
                        color: #007bb5;
                        background-color: transparent;
                    }
                }
                &.instagram {
                    background-color: #c13584;
                    color: var(--whiteColor);
                    border-color: #c13584;

                    &:hover {
                        color: #c13584;
                        background-color: transparent;
                    }
                }
                i {
                    left: 0;
                    right: 0;
                    top: 50%;
                    margin-top: -1px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
.forget-password-form {
    padding: 40px;
    max-width: 550px;
    border-radius: 5px;
    background-color: var(--whiteColor);
    margin: {
        left: auto;
        right: auto;
    };
    h2 {
        margin-bottom: 30px;
        font: {
            size: 30px;
            weight: 300;
        };
    }
    form {
        .form-group {
            margin-bottom: 20px;
        }
        button {
            width: 100%;
            border: none;
            display: block;
            overflow: hidden;
            margin-top: 20px;
            border-radius: 5px;
            text-align: center;
            padding: 15px 30px;
            color: var(--whiteColor);
            transition: var(--transition);
            background-color: var(--mainColor);
            font: {
                size: var(--fontSize);
                weight: 700;
            };
            &:hover {
                background-color: var(--blackColor);
                color: var(--whiteColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .profile-authentication-area {
        height: auto;
        padding: {
            top: 120px;
            bottom: 110px;
        };
    }
    .forget-password-form {
        text-align: center;
        padding: 20px 15px;
        max-width: 100%;

        h2 {
            margin-bottom: 20px;
            font-size: 22px;
        }
        form {
            button {
                padding: 13px 30px;
                font-size: 13px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .forget-password-form {
        padding: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}